<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <!-- Add code for the body here -->
  <div class="field">
    <%= f.label :body %> <!--set up an HTML label for
the body field. -->
    <%= f.text_area :body %> <!-- text_area will give the user
a larger area to type in. -->
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
