<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<!-- Add a new HTML paragraph tag... -->
<p>
  <strong>Body:</strong>
  <!-- With the post body embedded inside. -->
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
